.wrapper{
    .logoDiv{
        .logoSpan{
            .logo{
                width: 80px;
                height: 80px;
            }
        }
    }
    .paragraph{
        text-align: justify;
    }
    .trust{
        .spans{
            .trustImg{
                width: 120px;
                height: 120px;
            }
        }
    }
    .social{
        .svgspan{
            background: linear-gradient(0deg, #23A868 -13.4%, #5BCE97 113.4%);
            display: inline-block;
            padding: 1rem;
            border-radius: 50px;
            cursor: pointer;
            .svgs{
                width: 50px;
                height: 50px;
            }
        }
    }
}