.wrapperDiv{
    .wrapperSpan{
        .sapn{
            box-sizing: border-box;
            width: 370px;
            height: 464px;
        }
    }
    .responDiv{
        height: 150px;
        background-color: #FF6000;
        border-radius: 40px;
    }
}