.wrapper{
    .parent{
        width: 194px;
        height: 223px;
        border-radius: 7.461px;
        background: #FCFCFC;
        box-shadow: 3.31599px 3.31599px 11.60595px 0px rgba(0, 0, 0, 0.12);
        .img{
            width: 65px;
            height: 65px;
        }
    }
}