.box{
    width: 100%;
    height: 47px;
    background-color: #ececec;
    // max-width: 1125px;
    // min-width: 630px;
    // margin: 5rem auto;
    border-radius: 38px;
    .search{
        // width: 88.827px;
        // height: 36.221px;
        border-radius: 37.808px;
        background: #FF6000;
        float: left;
        text-align: center;
        color: #FCFCFC;
        // vertical-align: text-top;
    }
}